<div class="container">
    <div class="text">
    <h1>Join us in our social media!</h1>
</div>

<div class="column">

    <div class="video">
        <i class="fa-solid fa-video fa-3x"></i>
        <h1>What is "Greenie" ? <br/><i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i></h1>
    </div>

    <div class="video">
        <i class="fa-solid fa-video fa-3x"></i>
        <h1>Plant review #1<br/><i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i></h1>
    </div>

    <div class="video">
        <i class="fa-solid fa-video fa-3x"></i>
        <h1>Q&A<br/><i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i></h1>
    </div>

    <div class="video">
        <i class="fa-solid fa-video fa-3x"></i>
        <h1>"How does our services works?"<br/><i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i></h1>
    </div>

    <div class="video">
        <i class="fa-solid fa-video fa-3x"></i>
        <h1>Taking care Ep1<br/><i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i></h1>
    </div>

    <div class="video">
        <i class="fa-solid fa-video fa-3x"></i>
        <h1>Plant review #2<br/><i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i></h1>
    </div>

    <div class="video">
        <i class="fa-solid fa-video fa-3x"></i>
        <h1>Plant review #3<br/><i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i></h1>
    </div>

    <div class="video">
        <i class="fa-solid fa-video fa-3x"></i>
        <h1>"Our employees"<br/><i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i></h1>
    </div>
    <div class="video">
        <i class="fa-solid fa-video fa-3x"></i>
        <h1>Plant review #4 <br/><i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i></h1>
    </div>

    <div class="video">
        <i class="fa-solid fa-video fa-3x"></i>
        <h1>Plant review #5<br/><i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i></h1>
    </div>

    <div class="video">
        <i class="fa-solid fa-video fa-3x"></i>
        <h1>FAQ<br/><i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i></h1>
    </div>

    <div class="video">
        <i class="fa-solid fa-video fa-3x"></i>
        <h1>Why Greenie?<br/><i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i></h1>
    </div>
</div>
</div>
