<div class="container">
    <div class="text">
    <h1>Choose your new green friend!</h1>
    <div class="item_column">

        <div class="item">
            <i class="fa-solid fa-plant-wilt fa-5x"></i>
            <h1>{{plantList[5].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[5].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[5].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-brands fa-canadian-maple-leaf fa-5x"></i>
            <h1>{{plantList[6].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[6].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[6].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-brands fa-pagelines fa-5x"></i>
            <h1>{{plantList[7].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[7].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[7].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-solid fa-leaf fa-5x"></i>
            <h1>{{plantList[8].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[8].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[8].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
        <div class="item">
            <i class="fa-solid fa-plant-wilt fa-5x"></i>
            <h1>{{plantList[9].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[9].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[9].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-brands fa-canadian-maple-leaf fa-5x"></i>
            <h1>{{plantList[10].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[10].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[10].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-brands fa-pagelines fa-5x"></i>
            <h1>{{plantList[11].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[11].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[11].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-solid fa-leaf fa-5x"></i>
            <h1>{{plantList[12].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[12].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[12].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
        <div class="item">
            <i class="fa-brands fa-canadian-maple-leaf fa-5x"></i>
            <h1>{{plantList[13].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[13].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[13].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-brands fa-pagelines fa-5x"></i>
            <h1>{{plantList[14].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[14].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[14].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-brands fa-canadian-maple-leaf fa-5x"></i>
            <h1>{{plantList[15].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[15].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[15].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-brands fa-pagelines fa-5x"></i>
            <h1>{{plantList[16].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[16].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[16].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
        <div class="item">
            <i class="fa-solid fa-leaf fa-5x"></i>
            <h1>{{plantList[17].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[17].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[17].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-solid fa-leaf fa-5x"></i>
            <h1>{{plantList[18].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[18].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[18].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
        <div class="item">
            <i class="fa-brands fa-pagelines fa-5x"></i>
            <h1>{{plantList[19].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[19].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[19].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-solid fa-plant-wilt fa-5x"></i>
            <h1>{{plantList[20].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[20].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[20].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
        <div class="item">
            <i class="fa-brands fa-canadian-maple-leaf fa-5x"></i>
            <h1>{{plantList[21].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[21].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[21].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-solid fa-leaf fa-5x"></i>
            <h1>{{plantList[22].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[22].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[22].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
        <div class="item">
            <i class="fa-brands fa-pagelines fa-5x"></i>
            <h1>{{plantList[23].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[23].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[23].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-brands fa-canadian-maple-leaf fa-5x"></i>
            <h1>{{plantList[24].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[24].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[24].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
        <div class="item">
            <i class="fa-solid fa-plant-wilt fa-5x"></i>
            <h1>{{plantList[25].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[25].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[25].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-brands fa-canadian-maple-leaf fa-5x"></i>
            <h1>{{plantList[26].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[26].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[26].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
        <div class="item">
            <i class="fa-brands fa-pagelines fa-5x"></i>
            <h1>{{plantList[27].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[27].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[27].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-solid fa-leaf fa-5x"></i>
            <h1>{{plantList[28].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[28].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[28].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
        <div class="item">
            <i class="fa-brands fa-pagelines fa-5x"></i>
            <h1>{{plantList[29].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[29].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[29].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-solid fa-plant-wilt fa-5x"></i>
            <h1>{{plantList[30].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[30].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[30].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
        <div class="item">
            <i class="fa-brands fa-canadian-maple-leaf fa-5x"></i>
            <h1>{{plantList[31].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[31].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[31].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-brands fa-pagelines fa-5x"></i>
            <h1>{{plantList[32].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[32].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[32].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
        <div class="item">
            <i class="fa-brands fa-canadian-maple-leaf fa-5x"></i>
            <h1>{{plantList[33].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[33].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[33].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    
        <div class="item">
            <i class="fa-solid fa-leaf fa-5x"></i>
            <h1>{{plantList[34].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[34].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[34].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
        <div class="item">
            <i class="fa-solid fa-plant-wilt fa-5x"></i>
            <h1>{{plantList[35].name}}</h1>
                <div class="cost">
                    <div class="oldcost">
                        <h1><s>{{plantList[35].oldCost}}</s></h1>
                    </div>
                    <h1>{{plantList[35].cost}}$</h1>
                </div>
                <button class="desc">
                    <h1>Take Care!</h1>
                </button>
        </div>
    </div>
</div>
</div>
