<div class="container">
    <div class="text">
    <h1>Don't want to miss the latest?<br/>Floolw our blog!</h1>
</div>
<div class="vid">
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/K9soyKPtP1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2l1GItud69E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9x-eFqoEvY4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/I1gVFen30fM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/EBcbKm6BDjE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2479Ey40bzo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tAn5SPw4D08" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BEBUcAJ9rzA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
</div>
