.container {
    height: 100%;
    background-color: #f5f3e6;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 80px 1fr;
    gap: 24px;
}
nav {
    display: flex;
    gap: 200px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    border-bottom: 4px solid #e7e5d6;
}
.logo {
    color: #001c00;
    font-size: 60px;
}