<div class="container">
        <div class="text">
        <h1>let the <br/> environment <br/> be green</h1>
    </div>
    <div class="page_plant">
        <i class="fa-solid fa-spa fa-9x"></i>
    </div>
    <div class="desc_cost">
        <div class="cost">
            <h1>{{plantList[0].cost}}$</h1>
        </div>

        <div class="line"></div>

        <div class="desc">
            <h1>{{plantList[0].description}}</h1>
        </div>
    </div>

    <div class="stats">

        <div class="sunlight">
            <i class="fa-solid fa-sun fa-4x"></i>
            <h1>Sunlight <br/>{{plantList[0].sunlight}}</h1>
        </div>
    
        <div class="humidity">
            <i class="fa-solid fa-water fa-4x"></i>
            <h1>Humidity <br/>{{plantList[0].humidity}}</h1>
        </div>
    
        <div class="watering">
            <i class="fa-solid fa-droplet fa-4x"></i>
            <h1>Watering <br/>{{plantList[0].watering}}</h1>
        </div>

    </div>
</div>
